body{
    background-color: #0E7E12;
}

.card{
    width: 260px;
    height:350px;
    background-color: white;
    border: 1px solid black;
    border-radius: 17px;
    margin: 0 auto;
    margin-top:10%;
    position: relative;
   
}

#topSuit{
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 70px;  
}

#number{
   font-size: 100px; 
    text-align: center;
    margin-top: 100px;
}


#bottomSuit{
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 70px;
    transform: rotate(180deg);
}